.apd-wrapper {
  display: flex;
  justify-content: center;
}

.apd-wrapper h2 {
  margin: 1.5em 0 1em 0;
}

.apd-img-wrapper {
  display: flex;
  justify-content: center;
}

.apd-img-wrapper img {
  width: 100%;
  max-width: 900px;
  height: auto;
}
