// Global Styles
@import '../../../../shared/scss/styles.scss';

@mixin main-heading {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
}

@mixin display-image {
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 500px;
}

@mixin wrapper-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apd-wrapper {
  margin: 0 0 2.5em 0;

  mat-card {
    @include elevation-14;
    color: $darkmode-font-heading;
    display: flex;
    justify-content: center;
  }

  h1 {
    @include main-heading;
  }
}

.apd-img-wrapper {
  @include wrapper-centered;

  .apd-img {
    @include display-image;
  }
}
