
<div class="detail--wrapper">
  <div class="detail--back-btn-wrapper">
    <button mat-fab class="detail--back-btn" [routerLink]="['/astronomy-pics']">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
  </div>
  <div class="detail--image__container">
    <div class="detail--image-top-wrapper">
      <img [src]="astroDetailImage.url" [alt]="astroDetailImage.title" class="detail--image-top">
    </div>
  </div>
  <div class="detail--text-content__wrapper">
    <div class="detail--heading-wrapper">
      <h2 class="detail--heading">{{ astroDetailImage.title }}</h2>
      <h4 class="detail--subtitle">{{ astroDetailImage.date }}</h4>
    </div>
    <div class="detail--explanation-wrapper">
      <p class="detail--explanation">
        {{ astroDetailImage.explanation }}
      </p>
    </div>
  </div>
</div>

