.display--heading {
  // color: $darkmode-font-heading;
  color: $darkmode-primary;
  font-weight: 400;
}
.display--btns-div-wrapper {
  @include elevation-7;
  color: $darkmode-font-heading;
  @include box-shadow;
}
