<div class="display--wrapper">
  <div class="display--heading-wrapper">
    <h2 class="display--heading">Meteorite List</h2>
  </div>


  <div class="display--btns-div-wrapper">
    <h3 class="display--btns-div-heading">Filter Meteorites</h3>
    <div class="display--btns-div">
      <button class="display--btns mat-raised-button" (click)="toggle()">{{ buttonName }}</button>
      <button class="display--btns mat-raised-button" (click)="filterBy='new'">RECENT</button>
      <button class="display--btns mat-raised-button" (click)="filterBy='default'">ALL</button>
    </div>
  </div>
</div>
<div class="display--list__toggle" [hidden]="!show">
  <mt-list [filterBy]="filterBy"></mt-list>
</div>
