// Global Styles
@import '../../../../shared/scss/styles.scss';

.display--wrapper {

}

.display--heading {
  font-weight: 700;
  margin: 1em 0;
}

.display--btns-div-wrapper {
  background-color: #26c6d1;
  color: #fff;
  margin: 1em 6em;
  padding: 2em 0;
  -webkit-box-shadow: 1px 2px 12px -2px rgba(0,0,0,0.55);
  box-shadow: 1px 2px 12px -2px rgba(0,0,0,0.55);
}

.display--btns-div-heading {
  display: flex;
  justify-content: center;
}

.display--btns-div {

}

.display--btns {
  margin: .5em;
  width: 10em;
  height: 3em;
}
