.astro--page__heading--wrapper {
  @include center-child;
}

.astro--page__heading {
  margin: 0.25em 0 1em 0;
  color: $darkmode-primary;
}

@media only screen and (max-width: 768px) {
  .astro--page__heading {
    font-size: 3em;
  }
}
