.__full-page-wrapper {
  min-height: 100vh;


  border: 1px solid aqua;
  // display: flex;
  // flex-direction: column;
}

.rand--container {

  display: flex;
  flex-direction: column;
  margin: 2em;

  align-items: center;


  border: 1px solid orange;
}

.rand--image__container {


  img {
    width: 100%;
    height: auto;
  }
}

