// Main Global Styles Sheet
// ----------------------------------------------
// ---------- IMPORTS ---------------------------

// Layout
@import './layout/layout';

// Root
@import './root/colors';

// Typography
@import './typography/headers';
@import './typography/paragraph';

// ----------------------------------------------
// ----------------------------------------------

// Component Mixins

@mixin btn-dark {
  background-color: $primary-dark;
  color: #fff;
  text-transform: uppercase;
  @include normal-text;
}

@mixin btn-dark-hover {
  background-color: $primary-dark-hover;
}

@mixin darkmode-btn-primary {
  background-color: $darkmode-primary;
  color: $darkmode-background;
  text-transform: uppercase;
  @include button-text;
}

@mixin darkmode-btn-accent {
  background-color: $darkmode-accent;
  color: $darkmode-background;
  text-transform: uppercase;
  @include button-text;
}
