<div class="home--header__container" mtObserveBreakpoints>
  <div class="home--header__content-wrapper">
    <div class="home--header__headings-wrapper">
      <div class="home--header__subtitle-wrapper">
        <h3 class="home--header__subtitle">NASA API Project</h3>
      </div>
      <div class="home--header__title-wrapper">
        <h1 class="home--header__title">Angular Demonstration</h1>
      </div>
    </div>
    <div class="home--header__text-wrapper">
      <p class="home--header__text">
       This is a project used to learn Angular through concept application and relentless refactoring. The name NEO comes from Nasa's term, "Near Earth Objects," used to describe asteroids and comets in close proximity to the Earth.
      </p>
      <p class="home--header__text">
       What started off as a sandbox for writing API requests to learn RxJS Operators has evolved into a full-fledged application. The future of this project is to better visualize the open data from the NASA RESTful API.
      </p>
    </div>
    <div class="home--header__down-btn-wrapper">
      <button mat-fab class="home--header__down-btn"><i class="material-icons">arrow_drop_down</i></button>
    </div>
  </div>
</div>
<div class="meteorite-container--wrapper">
<div class="meteorite--img-wrapper">
  <img
    class="meteorite--img"
    src="https://apod.nasa.gov/apod/image/1601/BrightBoom_JinMa_960.jpg"
    alt="Bright Boom"
  />
</div>
<div class="display--wrapper">
  <div class="display--heading-wrapper">
    <h2 class="display--heading">Meteorite List</h2>
  </div>

  <div class="display--btn-div-wrapper">
    <h3 class="display--btn-div-heading">Filter Meteorites</h3>
    <div class="display--btn-div">
      <button
        mat-fab
        [class.show]="toggleButton === 'Show'"
        class="display--btn-fab"
        (click)="toggle()"
      >
        {{ toggleButton }}
      </button>
      <app-toggle-filter-btn
        [filterBy]="filterBy"
        (filterClick)="filterToggled($event)"
        ></app-toggle-filter-btn>
    </div>
  </div>
</div>
<div class="display--list__toggle" [hidden]="!show">
  <app-meteorite-list
    [visibleMeteorites]="visibleMeteorites"
    [filterBy]="filterBy"
    (filterClick)="filterToggled($event)"
  ></app-meteorite-list>
</div>
