<mat-grid-list [cols]="columns">
  <mat-grid-tile>
    <div class="thumb--cards__wrapper">
      <mat-card class="thumb--card mat-elevation-z0">
        <mat-card-header>
          <mat-card-title>{{ astronomyPic.title }}</mat-card-title>
          <mat-card-subtitle>{{ astronomyPic.copyright }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a [routerLink]="['image', astronomyPic.date]">
            <img
              *ngIf="astronomyPic.url.includes('.jpg')"
              mat-card-image
              [src]="astronomyPic.url"
              [alt]="astronomyPic.title"
            />
            <span *ngIf="!astronomyPic.url.includes('.jpg')"
              >Link to Video</span
            >
          </a>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
