// Global Colors Here
$primary-hex: #673AB7;
$primary-rgb: rgb(103,58,183);

// A dark accent color based on the primary theme color
$primary-dark: rgb(44, 23, 80);

$accent-hex: #FFD740;
$accent-rgb: rgb(255,215,64);
