.rand--container {
  min-height: 100vh;
}

.rand--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rand--flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.rand--flex-item {
  width: 25rem;
  height: auto;
  margin: 1em 0 0 0;

  img {
    height: auto;
    width: 100%;
  }
}

.loading-spinner{
    background-color: #121212;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: grid;
}

.loading-spinner img{
    align-self: end;
}

.loading-message{
    text-align: center;
    align-self: start;
}
