.rand--container {
  // border: 1px solid blue;

  min-height: 100vh;
}

.rand--header-wrapper {
  // border: 1px solid orange;

  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.rand--button-wrapper {
  // border: 1px solid aqua;

  margin: 2rem 0;

  display: flex;
  justify-content: center;
}

.rand--tile-wrapper {
  margin: 1rem 0.5 0 0.5rem;

  img {
    width: 500px;
    height: 500px;
  }
}



// Loading Spinner Component
.loading-spinner{
    background-color: #121212;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: grid;
}

.loading-spinner img{
    align-self: end;
}

.loading-message{
    text-align: center;
    align-self: start;
}
