.display--btn {
  @include darkmode-btn-primary;
}

.display--btn:hover {
  background-color: $darkmode-primary-hover;
}

.display--btn-fab {
  @include darkmode-btn-primary;
}

.display--btn-fab:hover {
  background-color: $darkmode-primary-hover;
}

.show {
  @include darkmode-btn-accent;
}

.show:hover {
  background-color: $darkmode-accent-hover;
}

.home--header__down-btn {
  background-color: $darkmode-accent;
}

.home--header__down-btn:hover {
  background-color: $darkmode-accent-hover;
}
