// MOBILE FIRST DESIGN

// main header wrapper
.home--header__container {

  height: 100vh;

  // Rocket Ship as Background Image
  background-image: url(../../../../assets/img/rocket.svg);
  // background-position: right top;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.home--header__content-wrapper {
  border: 1px solid orange;
}

// wraps the h1
.home--header__title-wrapper {
  border: 1px solid white;

  margin: 5rem 0 0 2rem;
  height: 10vh;
}

// h1
.home--header__title {
  color: $darkmode-font-heading;
  font-size: 2rem;
  font-weight: 300;
}
