// MOBILE FIRST DESIGN

// Important:
// If I do large screen first, I can actually reduce the lines of code
// the smallest screen size is the most unique

// XSmall

// main header wrapper
.home--header__container {
  height: 93vh;
  background-color: $dark-01-primary-bg;
  // Rocket Ship as Background Image
  background-image: url(../../../../assets/img/rocket.svg);
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: contain;
}

// follows the main wrapper, no margin to allow content fill
.home--header__content-wrapper {
  min-height: 100%;
  // flex all items vertically with column, align to flex start.
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

// wraps the h1
.home--header__headings-wrapper {
  margin: 5rem 0 0 3rem;
  width: 100%;
  max-width: 20rem;
}

.home--header__subtitle-wrapper {
  position: relative;
  min-height: 7.5rem;
}

.home--header__subtitle {
  margin: auto;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  text-transform: uppercase;
  color: $darkmode-accent-font;
}

// h1
.home--header__title {
  color: $darkmode-font-heading;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1em;
}

// Text Content -> Middle of the flex-column div
.home--header__text-wrapper {
  margin: 4rem 3rem 10rem 3rem;
}

.home--header__text {
  color: $darkmode-font-heading;
  // font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.3em;
}

// Button
// Last item in the flex-column div, margin-top auto sends it to the bottom
.home--header__down-btn-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home--header__down-btn {
  background-color: $darkmode-accent;
}

.home--header__down-btn:hover {
  background-color: $darkmode-accent-hover;
}

// -----------------------------
// Media Queries
// -----------------------------


// -----------------------------

// Small Screens

// -----------------------------

@media (min-width:600px) and (max-width:959.98px) {

  // main header wrapper
  .home--header__container {
    height: 92vh;
  }

  // wraps the h1
  .home--header__headings-wrapper {
    margin: 5rem 0 0 8rem;
  }

  // Text Content -> Middle of the flex-column div
  .home--header__text-wrapper {
    margin: auto 6rem 10rem 6rem;
  }
}

// -----------------------------

// Medium Screens

// -----------------------------

@media (min-width:960px) and (max-width:1279.98px) {
  // main header wrapper
  .home--header__container {
    background-position: 45% 15%;
    background-size:auto;
  }

  // main header wrapper
  .home--header__container {
    height: 92vh;
  }

  // wraps the h1
  .home--header__headings-wrapper {
    margin: 5rem 0 0 8rem;
  }

  // Text Content -> Middle of the flex-column div
  .home--header__text-wrapper {
    margin: auto 6rem 10rem 6rem;
  }
}

// -----------------------------

// Large Screens

// -----------------------------

@media (min-width:1280px) and (max-width:1919.98px) {
  // main header wrapper
  .home--header__container {
    background-position: 45% 15%;
    background-size:auto;
  }

  // main header wrapper
  .home--header__container {
    height: 92vh;
  }

  // wraps the h1
  .home--header__headings-wrapper {
    margin: 7rem 0 0 20rem;
  }

  // Text Content -> Middle of the flex-column div
  .home--header__text-wrapper {
    margin: auto 20rem 10rem 20rem;
  }
}

// -----------------------------

// XLarge Screens

// -----------------------------

@media (min-width:1920px) {
  // main header wrapper
  .home--header__container {
    background-position: 45% 15%;
    background-size:auto;
  }

  // main header wrapper
  .home--header__container {
    height: 92vh;
  }

  // wraps the h1
  .home--header__headings-wrapper {
    margin: 7rem 0 0 25%;
  }

  // Text Content -> Middle of the flex-column div
  .home--header__text-wrapper {
    // margin: auto 20rem 10rem 20rem;
    margin: auto 25% 10rem 25%;
  }
}
