.meteorite--img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 0 0;
}

.meteorite--img {
  margin: 2em 2em 0 2em;
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 500px;
}

.display--wrapper {
}

.display--heading-wrapper {
  @include center-child;
  padding: 3rem 0;
}

.display--heading {
  margin: 1em 0;
}

.display--btn-div-wrapper {
  margin: 1em 6em;
  padding: 2em 0;
}

.display--btn-div-heading {
  display: flex;
  justify-content: center;
}

.display--btn-div {
  @include center-child;
}

.display--btn-fab {
  margin: 0.5em 1.5em 0.5em 0;
  height: 4.4em;
  width: 4.4em;
}

@media only screen and (max-width: 768px) {
  .display--btn-div-wrapper {
    margin: 1em 2em 0.5em 2em;
  }
  .display--btn-div {
    display: flex;
    flex-direction: column;
  }
  .display--btn-fab {
    margin: .5em;
  }
}
