// First Fold
// ---------------------
// XSmall Screen Size
// main header wrapper

// XSmall
@media (max-width: 599.98px) {
  .display--heading-wrapper {
    padding: 3rem 0;
  }
  .meteorite--img-wrapper {
  padding: 6rem 0 0 0;
  }
}

.home--header__container {
  height: 100vh;
  min-height: 100vh;
  // Rocket Ship as Background Image
  background-image: url(../../../../assets/img/rocket.svg);
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: contain;
}

// follows the main wrapper, no margin to allow content fill
.home--header__content-wrapper {
  height: 100vh;
  min-height: 100vh;
  // flex all items vertically with column, align to flex start.
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

// wraps the h1
.home--header__headings-wrapper {
  margin: 15% 0 0 0.5rem;
}

.home--header__subtitle-wrapper {
  position: relative;
  min-height: 7.5rem;
}

// Text Content -> Middle of the flex-column div
.home--header__text-wrapper {
  margin: 2rem 0.5rem 3rem 0.5rem;
}

// Button
// Last item in the flex-column div, margin-top auto sends it to the bottom
.home--header__down-btn-wrapper {
  display: flex;
  justify-content: center;


}

// ---------------------
// ---------------------
// Small Screens
// ---------------------
// ---------------------
@media (min-width:600px) and (max-width:959.98px) {

  // main header wrapper
  .home--header__container {
    height: 100vh;
  }

  // wraps the h1
  .home--header__headings-wrapper {
    margin: 25% 0 0 2rem;
  }

  // Text Content -> Middle of the flex-column div
  .home--header__text-wrapper {
    margin: 10% 3%;
  }
}
// ---------------------
// ---------------------
// Medium Screens
// ---------------------
// ---------------------
@media (min-width:960px) and (max-width:1279.98px) {
  // main header wrapper
  .home--header__container {
    background-position: 40% 20%;
    background-size:auto;
  }

  // main header wrapper
  .home--header__container {
    height: 100vh;
  }

  // wraps the h1
  .home--header__headings-wrapper {
    margin: 10% 0 0 10%;
  }

  // Text Content -> Middle of the flex-column div
  .home--header__text-wrapper {
    margin: 10%;
  }
}
// ---------------------
// ---------------------
// Large Screens
// ---------------------
// ---------------------
@media (min-width:1280px) and (max-width:1919.98px) {
  // main header wrapper
  .home--header__container {
    background-position: 75% 0%;
    background-size:auto;
  }

  // wraps the h1
  .home--header__headings-wrapper {
    margin: 5% 0 0 10%;
  }

  // Text Content -> Middle of the flex-column div
  .home--header__text-wrapper {
    margin: 0 10% 5% 10%;
  }
}
// ---------------------
// ---------------------
// XLarge Screens
// ---------------------
// ---------------------
@media (min-width:1920px) {
  // main header wrapper
  .home--header__container {
    background-position: 45% 15%;
    background-size:auto;
  }

  // main header wrapper
  .home--header__container {
    height: 100vh;
  }

  // wraps the h1
  .home--header__headings-wrapper {
    margin: 10% 0 0 25%;
  }

  // Text Content -> Middle of the flex-column div
  .home--header__text-wrapper {
    margin: 3% 25%;
  }
}

// ---------------------
// ---------------------
// Small & Larger
@media (min-width: 600px) {
  .display--heading-wrapper {
    padding: 2rem 0;
  }
  .meteorite--img-wrapper {
  padding: 5rem 0 0 0;
  }
}

// ---------------------
// ---------------------
// Second Fold
// ---------------------
// ---------------------

.meteorite--img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meteorite--img {
  margin: 2em 2em 0 2em;
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 500px;
}

.display--heading-wrapper {
  @include center-child;
}

.display--heading {
  margin: 1em 0;
}

.display--btn-div-wrapper {
  margin: 1em 6em;
  padding: 2em 0;
}

.display--btn-div-heading {
  display: flex;
  justify-content: center;
}
.display--btn-div {
  @include center-child;
}

.display--btn-fab {
  margin: 0.5em 1.5em 0.5em 0;
  height: 4.4em;
  width: 4.4em;
}

@media only screen and (max-width: 768px) {
  .display--btn-div-wrapper {
    margin: 1em 2em 0.5em 2em;
  }
  .display--btn-div {
    display: flex;
    flex-direction: column;
  }
  .display--btn-fab {
    margin: .5em;
  }
}
