@mixin darkmode-btn-primary {
  background-color: $darkmode-primary;
  color: $darkmode-background;
  text-transform: uppercase;
  @include button-text;
}

@mixin darkmode-btn-accent {
  background-color: $darkmode-accent;
  color: $darkmode-background;
  text-transform: uppercase;
  @include button-text;
}
