@import '../../../../../shared/scss/styles.scss';

.display--heading-wrapper {
  @include center-child;
}

.display--heading {
  margin: 1em 0;
}

.display--btns-div-wrapper {
  margin: 1em 6em;
  padding: 2em 0;
}

.display--btns-div-heading {
  display: flex;
  justify-content: center;
}

.display--btns {
  margin: .5em;
  width: 10em;
  height: 3em;
}
